
body {

}
.container {

}

h1, h2, h3, p {

}
p:last-child {

}

h1, h2, h3 {

}
h1 {

}
h2, h3 {


}

/*header*/

#masthead {    


}

#logo {

}

nav {

}

nav a {

}

nav a:first-child {

}

/* main stuff */

#main-container {
    padding-top: 130px;
 
}
.main-section {

}

.auth-image {

}

/* sidebar */

.sidebar {

}

h3, .sidebar, h2 {

}

.social {

.social:last-child {

}

/* footer */

footer {

}

/* portfolio */
/* not working....no idea why it won't work. finally copied the video 1 for 1 and still nothing */

.work {

}
.work:nth-child(even) {


}

.work img {


}
.work h3 {

}

/* contacts */

#contacts-form ul {

}

#contacts-form li {


}
label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}
input[type=text],
input[type=email],
textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
}

textarea {

}
input[type=submit] {

}